<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="with=device-width, initial-scale=1.0" />
    <title>Stock simulator</title>
    <link rel="stylesheet" href="../static/index.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  </head>
  <body>
    <div class="main">
      <h1>Stock market simulator</h1>
      <div class="trading">
        Trading
        <!-- curly brackets are called jinja -->
        <p> APPL = {{ apple_price }} </p>
        <p> APPL = <div id="apple_stock"> Hi Kaz </div> </p>
      </div>
      <div class="graph-container">
        graph container
      </div>
      <div class="info">
        My Balance = £10,000 <br>
        Purchasing power = £10,000
      </div>
    </div>
  </body>

 <script>
    let i = 1;

    function myLoop() {         //  create a loop function
      setTimeout(function() {   //  call a 3s setTimeout when the loop is called
        document.getElementById("apple_stock").innerHTML = i;
        myLoop();             //  ..  again which will trigger another
        i++;                    //  increment the counter
      }, 1000)
    }

    myLoop();                   //  start the loop

  </script> 
</html>

